<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="outsystems-plugin-fingerprint"
    version="3.0.0">
    <name>fingerprint</name>
    <description>Cordova FingerPrint Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/FingerPrint.js" name="FingerPrint">
        <clobbers target="fingerprint" />
    </js-module>


    <platform name="android">
        <dependency id="cordova-plugin-fingerprint-aio" url="https://github.com/OutSystems/cordova-plugin-fingerprint-aio.git#feat/RMET-319/update-last-release" />
    </platform>

    <platform name="ios">
        <!-- Usage description of the FaceID, mandatory since iOS 10 -->
        <preference name="FACEID_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSFaceIDUsageDescription">
            <string>$FACEID_USAGE_DESCRIPTION</string>
        </config-file>
        <dependency id="cordova-plugin-touchid" url="https://github.com/OutSystems/cordova-plugin-touchid.git#0.4.0-OS2" />
    </platform>
</plugin>
