<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="outsystems-plugin-fingerprint"
    version="0.0.1-dev">
    <name>fingerprint</name>
    <description>Cordova FingerPrint Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <dependency id="cordova-plugin-android-fingerprint-auth" url="https://github.com/mjwheatley/cordova-plugin-android-fingerprint-auth.git" />
    <dependency id="cordova-plugin-touchid" url="https://github.com/leecrossley/cordova-plugin-touchid.git" />
     <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/FingerPrint.js" name="FingerPrint">
        <clobbers target="fingerprint" />
    </js-module>
</plugin>
